<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
</head>
<body>
    <h1>WebSocket Chat</h1>
        <form action="" onsubmit="sendMessage(event)">
            <textarea id="messageText" autocomplete="off"></textarea>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            if (localStorage.name === undefined){
                location.href = '/registration'
            }
            var ws = new WebSocket("ws://osetr.space:80/ws");
            ws.onmessage = function(event) {
                let data = JSON.parse(event.data)
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(data["name"] + ": " + data["message"])
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                let input = document.getElementById("messageText")
                let data = JSON.stringify({"name": localStorage.name, "message": input.value})
                ws.send(data)
                input.value = ''
                event.preventDefault()
            }
        </script>
</body>
</html>